@page "/"

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ejercicio 1</h5>
        <p class="card-text">
            Listado de los empleados, nombre, apellido y teléfono.
        </p>
        <NavLink href="ejercicio1" class="btn btn-primary">Ingresar</NavLink>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ejercicio 2</h5>
        <p class="card-text">
            Los 5 productos mas caros.
        </p>
        <NavLink href="ejercicio2" class="btn btn-primary">Ingresar</NavLink>
    </div>
</div>